.main-background {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../apple.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 1px;
  clear: both;
}

.btn{
  margin-left: 20px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  background:none;
  border: 0;
  margin: 10px;
  padding: 10px;
}

.lft{
  float: left;
}

.rgt{
  float: right;
}

.lft:hover, .rgt:hover{
  background-color: burlywood;
  border-radius: 15px;
  cursor: pointer;
}

.main-background h1 {
  text-align: center;
  color: white;
  margin-top: 350px;
}

.ptag1 {
  text-align: center;
  color: white;
}

.main-background button {
  margin: auto;
  display: block;
  text-align: center;
}

.main-background a{
  text-decoration: none;
}

.bbttnn{
  position: relative;
  margin-top: 30px;
  height: 50px;
  width: 150px;
  font-style: 18px;
  color: white;
  margin: auto;
  background: none;
}

.bbttnn:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: black;
}

.coverdiv {
  background: #eee;
  width: 60%;
  margin: auto;
  position: relative;
  text-align: center;
  max-width: 500px;
  padding: 20px;
  top: -20px;
}

html {
  line-height: 1.6;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.formtag {
}

input[type="email"] {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

